<div class="col-md-6">
            <div class="form-group mb-3">
              <label for="project_design">Project Design (25%)</label>
              <div class="form-text">Please input the score:</div>
              <input type="number" id="project_design" name="project_design" class="form-control" min="1" max="100" required>
            </div>
            <div class="form-group mb-3">
              <label for="functionality">Functionality (30%)</label>
              <div class="form-text">Please input the score:</div>
              <input type="number" id="functionality" name="functionality" class="form-control" min="1" max="100" required>
            </div>
            <div class="form-group mb-3">
              <label for="presentation">Presentation (15%)</label>
              <div class="form-text">Please input the score:</div>
              <input type="number" id="presentation" name="presentation" class="form-control" min="1" max="100" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="web_design">Web Design (10%)</label>
              <div class="form-text">Please input the score:</div>
              <input type="number" id="web_design" name="web_design" class="form-control" min="1" max="100" required>
            </div>
            <div class="form-group mb-3">
              <label for="impact">Impact (20%)</label>
              <div class="form-text">Please input the score:</div>
              <input type="number" id="impact" name="impact" class="form-control" min="1" max="100" required>
            </div>
          </div>